body {
  font-family: 'calibri', sans-serif;
  font-size: 16px; /* Adjust as needed */
  background-color: #f8f8f8; /* Set a light background color */
}

a {
  color:  #ee3caf; /* Blue color for links */
  text-decoration: none;
  transition: color 0.3s;
}

a:hover {
  color: #461a75; /* Darker blue on hover */
}

button {
  display: inline-block;
  margin: 8px; /* Increased margin for buttons */
  cursor: pointer;
  font-size: 110%; /* Adjust as needed */
  background-color: #461a75; /* Green color for buttons */
  border-radius: 8px;
  padding: 10px 15px; /* Added padding for buttons */
  color: white;
  border: 0;
  transition: background-color 0.3s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle box shadow */
}

button:hover {
  background-color: #ee3caf; /* Darker green on hover */
}

ol {
  padding-left: 20px; /* Added padding for better list readability */
  max-height: 400px;
  overflow: auto;
}

li {
  padding: 10px;
  list-style: decimal inside none;
  margin-bottom: 5px; /* Increased spacing between list items */
}

.feedback {
  font-style: italic;
  font-size: 120%;
  margin-top: 20px;
  padding: 10px;
  color: #555;
  background-color: #f9f9f9; /* Light gray background for feedback */
  border: 1px solid #ddd;
  border-radius: 5px;
}

.timer {
  position: absolute;
  top: 10px;
  right: 10px;
}

.wrapper {
  margin: 50px auto 0 auto;
  max-width: 800px; /* Increased max-width for better centering */
}


.hide {
  display: none;
}

.start {
  text-align: center;
}

.scores {
  position: absolute;
  top: 10px;
  left: 10px;
}

.feedback {
  font-style: italic;
  font-size: 120%;
  margin-top: 20px;
  padding-top: 10px;
  color: gray;
  border-top: 2px solid #ccc;
}

.timer {
  position: absolute;
  top: 10px;
  right: 10px;
}

#questions {
  text-align: center; /* Align the questions in the center */
}

#choices {
  text-align: left; /* Align the multiple-choice buttons to the left */
}

.choices button {
  display: block;
  margin: 10px auto; /* Auto margin to center the buttons horizontally */
  width: 80%; /* Set a specific width for the buttons */
  max-width: 300px; /* Optionally, set a maximum width to ensure they don't become too wide */
  padding: 10px; /* Add padding for better button appearance */
  border: 1px solid #ddd; /* Add a subtle border for separation */
  border-radius: 5px; /* Add border-radius for rounded corners */
  background-color: #461a75; /* Set background color for buttons */
  color: white;
  transition: background-color 0.3s; /* Smooth transition on hover */
}

.choices button:hover {
  background-color: #ee3caf; /* Light gray background on hover */
}
